<div class="article-comment" data-timestamp="{{ c.timestamp }}" data-agrees="{{ c.num_agrees }}" data-disagrees="{{ c.num_disagrees }}" data-comment-id="{{ c.comment_id }}">
  <div class="article-comment-content-wrap">
    <div class="article-comment-header">
      <span>{{ c.author }}</span>
      <span class="comment-timestamp">[{{ c.render_timestamp }}]</span>
    </div>
    <div class="article-comment-body">
      <div class="article-comment-text">
        {{ c.text }}
      </div>
      <div class="article-agreement-box" style="grid-template-columns: {{ c.num_agrees }}fr {% if display_thumbs_down %}{{ c.num_disagrees }}{% else %}{{ max_comment_approval - c.num_agrees }}{% endif %}fr;">
        <span class="article-num-agrees">👍{{ c.num_agrees }}</span>
        {% if display_thumbs_down %}
          <span class="article-num-disagree">👎{{ c.num_disagrees }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>