<div class="representative-comments-block">
  <h3 class="representative-comments-block-title">{{ title }}</h3>
  <div class="rule-selection-wrap">
    <label for="{{ rule_select_id }}">Selection Method:</label>
    <select id="{{ rule_select_id }}" class="rule-select">
      {% for rule in article.computed_rules %}
        <option value="{{ rule }}"{% if rule == default_rule %} selected="selected"{% endif %}>{{ rule_name_mapping[rule] }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="representative-comments-analysis">
    <div class="comment-analysis-measure-block">
      <div class="comment-analysis-measure-header">Satisfaction</div>
      <div class="comment-analysis-measure progress-bar satisfaction-progress">
        <div class="progress-bar-fill satisfaction-bar-fill">
          <span class="current-satisfaction-count"></span><span class="satisfaction-bar-percentage"></span>
        </div>
      </div>
    </div>

    <div class="comment-analysis-measure-block">
      <div class="comment-analysis-measure-header">Coverage</div>
      <div class="comment-analysis-measure progress-bar coverage-progress">
        <div class="progress-bar-fill coverage-bar-fill">
          <span class="current-coverage-count"></span><span class="coverage-bar-percentage"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="article-comments-list representative-comments-list" id="{{ comment_list_id }}">
    <!-- JS will populate this based on selections -->
  </div>
</div>
