<p>Scoop and<a href="https://pep.org.nz/" target="_blank"> PEP</a> invite
you to help decide how we should protect and restore our
biodiversity over the next 50 years using Scoop’s online
engagement platform, HiveMind. </p>
<p>This Biodiversity HiveMind
is one way for you to take part in the DOC-led public
consultation on proposals for a new Biodiversity Strategy
for Aotearoa New Zealand. (NZBS) </p>
<p>You can vote on other people’s
statements and add your own statements in the Biodiversity
HiveMind Engagement window below until 11
September 2019.
Voting will continue until the HiveMind closes on 22
September 2019. Please vote on all statements before
submitting your own statement to avoid double ups. You must
comply with Scoop’s <a href="http://www.scoop.co.nz/stories/SP1611/S00002/understanding-scoop-hivemind.htm" target="_blank">Terms and Conditions</a>. </p>