<p>A
Universal Basic Income (UBI) is an unconditional minimum
income provided to every member of society regardless of
age, working status or level of income. The UBI seeks to
maintain a functional market economy in the face of
increasing technological disruption, unemployment, wealth
inequality, and a hollowing out of the middle class. It
would provide every citizen with enough income to cover the
costs of their basic needs. Bettering one’s situation
beyond this foundational amount is then the responsibility
of each individual as usual. Most UBI proposals involve
suggestions of significant reform of the welfare such as
removing means testing and abatement of payments and many
even include substantial overhaul of taxation systems.
</p>
<p>A
Universal Basic Income (UBI) is an unconditional minimum
income provided to every member of society regardless of
age, working status or level of income. The UBI seeks to
maintain a functional market economy in the face of
increasing technological disruption, unemployment, wealth
inequality, and a hollowing out of the middle class. It
would provide every citizen with enough income to cover the
costs of their basic needs. Bettering one’s situation
beyond this foundational amount is then the responsibility
of each individual as usual. Most UBI proposals involve
suggestions of significant reform of the welfare such as
removing means testing and abatement of payments and many
even include substantial overhaul of taxation systems.
</p>
<p>Surely we can do no worse by
fundamentally reconsidering the broken system that fails to
meet the needs of so many to meet their families’ basic
needs. Proponents believe that a Universal Basic Income
might go a long way to achieving just that and has potential
to be a significant game changing policy for the economic
and social fabric of our nation. UBI is certainly no panacea
and will need to be part of a comprehensive look at how we
structure our society for a resilient future, however it
certainly is one of the most promising proposals being
seriously considered by establishment politics at this
stage.</p>
<p>Comment to consider and vote on:<br><i>“NZ needs
a new system that better guarantees the welfare of the least
well off and those facing insecure work
conditions.”</i></p>