<p><strong><i>“How can we
ensure we have healthy and sustainable water in New Zealand
for the future?”</i></strong></p>
<p><strong>NZ has
been privileged to enjoy natural freshwater of an abundance
and purity equalled by very few places on earth</strong>.
Water is an essential element of both our natural ecosystem
and our social system. All New Zealanders rely on this
freshwater for their basic needs of drinking, cooking,
bathing and sanitation and waterways generate half the
country's electricity. However, water is also of value
inherently as an essential part of the natural world and for
its more ethereal benefits such as recreation, healing,
spiritual fulfilment and relaxation. Most New Zealanders
have strong emotional connections to water and to particular
waterways where they have in the past enjoyed bathing,
boating, fishing or simply sat and observed this passage of
water from mountain to coast.</p>
<p>In the Māori worldview (Te
Ao Māori) each water body has its own mauri (life force)
and usually a strong connection to a particular iwi or
hapū. This worldview recognises that water exists in a
relationship of mutual interdependence and guardianship with
humans and other non-human life as it is constantly recycled
to move ‘Ki uta ki tai’ (from the mountains to the
sea).</p>
<p>Water may seem robust and infinite, however, our
co-existence with this element involves a delicate dance.
Seemingly minor changes by humans to water flows or
ecosystems can have big impacts on the overall health and
future existence of this finite and depletable system and
all the life that relies upon it. <i>“All the water that
will ever be is right now.” </i>National Geographic</p>
<p>Some human activities are relatively harmless to the
overall water system, yet others are seriously detrimental
by adding pollutants, extracting water or even modifying
entire ecosystems as in the case of dams, drains and
culverts. Once a complex waterway ecosystem is disrupted,
polluted or tips over to an anaerobic state then it is
nearly impossible to restore it to its natural
state.</p>
<p>This is an opportunity for you as one of
the 4 million guardians of our common water resources to
help us find mutually agreeable solutions to the critical
task of collectively managing these resources for health and
sustainability. We invite you to read and think about the
issues, rank some survey statements on freshwater quality
and potential solutions and to share your own perspectives.
</p>