<p>A
warm, dry, safe home is a fundamental human need. The
trouble is a significant number of people in New Zealand are
currently unable to access or afford these most basic needs
. </p>
<p>In Auckland and other urban centres, house prices have
increased rapidly for a long time at rates well above wage
growth and overall inflation. This has pushed up rents and
made private ownership all but impossible for many people.
</p>
<p>Ten years ago, before the Global Financial Crisis, the
median house price across all of New Zealand was $349,000.
Today, the median is $540,000, an increase of
55%.</p>
<p>Internationally, houses are considered affordable if
the house price-to-income multiple is 3 or less, as it is in
Wanganui and Invercargill. However, even places like
Whangarei and Dunedin now have multiples approaching 4 and
then we have Auckland and Queenstown with multiples over 8.
</p>
<p>Housing affordability affects low-income households most.
Many of these households spend more than 40% of their income
on housing. That doesn’t leave much for other
necessities!
</p>
<p>House price inflation isn’t bad for
everyone. Consistent price increases and favourable tax
breaks have encouraged many people to buy investment
properties. The high demand for investment properties has
put significant pressure on house prices and rents.
</p>
<p><i>You can have your say on what you think about the
affordability issue by agreeing, disagreeing or passing on
each statement presented to you in the Polis window below.
You can also suggest new statements that might help us to
expand the debate and work towards potential solutions we
can all agree on. You don’t need to vote on all the
statements in one go; HiveMind will present statements you
haven’t voted on when you return. Statements are presented
one at a time in a random order. </i></p>