<p>This Tax HiveMind is
intended to complement and feed into the review being run by
the Government-appointed <a href="https://taxworkinggroup.govt.nz/" target="_blank">Tax
Working Group</a> (TWG), which is looking at the fairness,
balance and structure of the tax system with a 10-year time
horizon. The TWG has invited the public to send in <a href="https://taxworkinggroup.govt.nz/your-submissions" target="_blank">written submissions</a>, which close on 30
April.</p>
<p>We at Scoop and PEP believe that an issue as
important as the fairness of the tax regime should be open
for discussion, debate and dialogue. Unfortunately, a
written submission process just doesn’t encourage the kind
of public exchange we think is necessary in a
well-functioning democracy. </p>
<p>Whether you intend to make a
written submission or not, taking part in this HiveMind
gives you another way to explore tax issues and influence
the work of the TWG. We intend to submit the results of this
HiveMind to the TWG as a submission. Consequently, this
HiveMind will end at 9am on 30 April.</p>
<p>Scoop’s HiveMind
is powered by <a href="https://pol.is/" target="_blank">Pol.is</a>, a new type of survey technology
that allows you to consider statements about an issue; add
your own statements for others to vote on; and to see how
your opinions compare with those of other participants. At a
time when opinion can seem polarised, <a href="https://pol.is/" target="_blank">Pol.is</a> can also
identify areas of common ground.
</p>

<p>You might think
that tax rates should be kept low so that hard work is
fairly rewarded or that the current tax system, which raises
most of its revenue from individual income tax, from the
goods and services tax (GST) and from company income tax,
unfairly affects low and middle income earners who are less
able to afford these taxes than high income earners. We hope
you will take this opportunity to explore ideas of fairness
with others. </p>
<p>Your concern might be about the state of
NZ’s public services and infrastructure, and our ability
fund and maintain - let alone improve - them when we have an
aging population, changing weather patterns, natural
disasters, disruptive technologies - and that’s to name
just a few of the challenges. If so, how might the tax
system need to change, if at all?</p>
<p>You might also want to
explore whether a more comprehensive approach to taxing
capital gains or more taxes aimed at changing behaviours
(e.g. a sugar tax) should be considered. </p>
<p>While the
TWG’s <a href="https://taxworkinggroup.govt.nz/resources/terms-reference-tax-working-group" target="_blank">Terms of Reference</a> mean that it will not
be considering a number of issues, including how abatements
makes it difficult for welfare recipients and low-income
earners to avoid poverty and debt - you are welcome to raise
this issue and any other tax issue as part of this HiveMind.
</p>