{% extends "base.html" %}

{% block title %}About the Proportionality Press{% endblock %}

{% block content %}
<h1>About the Proportionality Press</h1>

<section>
    <p>
        The Proportionality Press is a website developed by <a href="https://simonrey.fr/" target="_blank">Simon Rey</a>
        as part of the project <strong>Fair Online Group Decision Making</strong> led by
        <a href="https://janmaly.de" target="_blank">Jan Maly</a>.
    </p>

    <p>
        The website's source code is open-source and available in this
        <a href="https://github.com/Simon-Rey/ProportionalityPress" target="_blank">GitHub repository</a>.
    </p>

    <p>
        The site is currently maintained by <a href="https://janmaly.de" target="_blank">Jan Maly</a>.
    </p>

    <h2>Data</h2>

    <p>
        The data presented on this website was collected via the Polis platform and is available as open-source in the
        <a href="https://github.com/compdemocracy/openData" target="_blank">Polis GitHub dataset</a>.
    </p>

    <p>
        The datasets shown here are processed versions of the original Polis data. For each article, all the comments
        are drawn from the original Polis dataset. We have removed all demographic statements (e.g., “I am over 50,”
        “I live in the city,” etc.) as they do not reflect participants' opinions.
    </p>

    <p>
        For some datasets, the content of original press articles has been used to provide context for the discussion.
        Each referenced article is properly cited and linked.
    </p>
</section>
{% endblock %}