{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <h1 class="standard-padded-container">{{ article.title }}</h1>

  <div id="article-content-wrap">
    <div id="article-body">{{ article.text | safe }}</div>
    <div id="article-source">{{ article.source | safe }}</div>

    {% if article.rule_results %}
      <section class="article-comments-wrap">
        <h2>Selected Comments</h2>

        <p class="center-align">
          <span id="show-advanced-controls" class="button">Show Advanced Controls</span>
        </p>

        <div id="size-selection-wrap">
          <label for="size-select">Number of Representative Comments:</label>
          <select id="size-select">
            {% for size in article.computed_sizes %}
              <option value="{{ size }}"{% if size == 5 %} selected="selected"{% endif %}>{{ size }}</option>
            {% endfor %}
          </select>
        </div>

        <div id="representative-comments-wrap" class="standard-padded-container">

          {% with title="Popularity-Based Selection", rule_select_id="rule-select-popularity", default_rule=default_rule_popularity, comment_list_id="comment-list-popularity" %}
            {% include "includes/representative_comments_block.html" %}
          {% endwith %}

          {% with title="Representation-Based Selection", rule_select_id="rule-select-representation", default_rule=default_rule_representation, comment_list_id="comment-list-representation" %}
            {% include "includes/representative_comments_block.html" %}
          {% endwith %}

          {% with title="Diversity-Based Selection", rule_select_id="rule-select-diversity", default_rule=default_rule_diversity, comment_list_id="comment-list-diversity" %}
            {% include "includes/representative_comments_block.html" %}
          {% endwith %}

        </div>
      </section>
    {% endif %}

    <section id="article-all-comments-section" class="article-comments-wrap">
      <h2 class="next-collapsible">See All {{ article.num_comments }} Comments</h2>

      <div class="article-comments-list collapsed-content hidden">
        {% for c in article.comments %}
          {% include "includes/article_comment.html" %}
        {% endfor %}
      </div>
    </section>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const nextCollapsibles = document.querySelectorAll(".next-collapsible");

    nextCollapsibles.forEach(function (e) {
        e.addEventListener("click", function () {
            this.nextElementSibling.classList.toggle("hidden");
            this.scrollIntoView({ behavior: "smooth" });
        });
    });

    const rulesResultsData = {{ article.rule_results_to_json() | safe }};

    const ruleSelects = document.querySelectorAll('.rule-select');
    const sizeSelect = document.getElementById('size-select');

    function updateRepresentativeCommentsBlock(ruleSelect) {
        const rule = ruleSelect.value;
        const size = sizeSelect.value;

        // Use optional chaining and fallback to empty array
        const commentIds = rulesResultsData?.[rule]?.[size] || [];

        // Fetch the div for the comments
        let repCommentBlock = ruleSelect.closest('.representative-comments-block');
        let repCommentList = repCommentBlock.querySelector('.representative-comments-list');

        // Clear current list
        repCommentList.innerHTML = '';

        commentIds.forEach(cid => {
          const original = document.querySelector(`.article-comment[data-comment-id="${cid}"]`);
          if (original) {
            const clone = original.cloneNode(true);
            repCommentList.appendChild(clone);
          }
        });

        // Update the Analysis Measures
        updateSatisfaction(repCommentBlock, rule, size);
        updateCoverage(repCommentBlock, rule, size);
    }

    function updateSatisfaction(repCommentBlock, rule, size) {
      const match = rulesResultsData.find(r => r.rule_id === rule && r.committee_size === parseInt(size));
      if (match) {
        const satisfaction = match.satisfaction;
        const maxSatisfaction = match.max_satisfaction;
        const bar = repCommentBlock.querySelector('.satisfaction-bar-fill');

        if (bar && maxSatisfaction) {
          const percentage = Math.min((satisfaction / maxSatisfaction) * 100, 100);
          bar.style.width = `${percentage}%`;

          repCommentBlock.querySelector('.satisfaction-bar-percentage').textContent = `(${Math.round(percentage)}%)`;
          repCommentBlock.querySelector('.current-satisfaction-count').textContent = `${satisfaction}`;
        }
      } else {
        console.warn("No match found for rule", rule, "size", size);
      }
    }

    function updateCoverage(repCommentBlock, rule, size) {
      const match = rulesResultsData.find(r => r.rule_id === rule && r.committee_size === parseInt(size));
      if (match) {
        const coverage = Math.min(match.coverage, 100);
        const maxCoverage = match.max_coverage;
        const bar = repCommentBlock.querySelector('.coverage-bar-fill');

        if (bar && maxCoverage) {
          const percentage = Math.min((coverage / maxCoverage) * 100, 100);
          bar.style.width = `${percentage}%`;

          repCommentBlock.querySelector('.coverage-bar-percentage').textContent = `(${Math.round(percentage)}%)`;
          repCommentBlock.querySelector('.current-coverage-count').textContent = `${(coverage * 100).toFixed(2)}%`;
        }
      } else {
        console.warn("No match found for rule", rule, "size", size);
      }
    }

    function updateAllRepresentativeComments() {
      ruleSelects.forEach(ruleSelect => {
        updateRepresentativeCommentsBlock(ruleSelect);
      });
    }

    if (sizeSelect) {
      sizeSelect.addEventListener('change', function () {
        updateAllRepresentativeComments();
      });

      ruleSelects.forEach(ruleSelect => {
        ruleSelect.addEventListener('change', function () {
          updateRepresentativeCommentsBlock(ruleSelect);
        });
      });

      updateAllRepresentativeComments();
    }

    const showAdvancedControlsButton = document.getElementById('show-advanced-controls');
    console.log(showAdvancedControlsButton);
    let advancedControls = true;
    const sizeSelectionWrap = document.getElementById('size-selection-wrap');
    const ruleSelectionWraps = document.querySelectorAll('.rule-selection-wrap');
    const selectPopularity = document.getElementById('rule-select-popularity');
    const selectRepresentation = document.getElementById('rule-select-representation');
    const selectDiversity = document.getElementById('rule-select-diversity');

    function toggleAdvancedControlsVisibility() {
      if (advancedControls) {
        advancedControls = false;
        showAdvancedControlsButton.textContent = 'Show Advanced Controls';
        ruleSelectionWraps.forEach(ruleWrap => ruleWrap.classList.add('hidden'));
        sizeSelectionWrap.classList.add('hidden');
        selectPopularity.value = '{{ default_popularity_rule }}';
        selectRepresentation.value = '{{ default_representation_rule }}';
        selectDiversity.value = '{{ default_diversity_rule }}';
        updateAllRepresentativeComments();
      } else {
        advancedControls = true;
        showAdvancedControlsButton.textContent = 'Hide Advanced Controls';
        ruleSelectionWraps.forEach(ruleWrap => ruleWrap.classList.remove('hidden'));
        sizeSelectionWrap.classList.remove('hidden');
      }
    }

    if (showAdvancedControlsButton) {
      showAdvancedControlsButton.addEventListener('click', toggleAdvancedControlsVisibility);
      toggleAdvancedControlsVisibility();
    }
});
</script>

{% endblock %}
