{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
  <h1 class="standard-padded-container">{{ article.title }}</h1>

  <div id="article-content-wrap">
    <div id="article-body">{{ article.text | safe }}</div>
    <div id="article-source">{{ article.source | safe }}</div>

    {% if article.representative_comments %}
      <section class="article-comments-wrap">
        <h2>Selected Comments</h2>

        <p class="center-align">
          <span id="show-advanced-controls" class="button">Show Advanced Controls</span>
        </p>

        <div id="size-selection-wrap">
          <label for="size-select">Number of Representative Comments:</label>
          <select id="size-select">
            {% set first_rule = article.representative_comments|first %}
            {% for size in article.representative_comments[first_rule].keys() %}
              <option value="{{ size }}"{% if size == 5 %} selected="selected"{% endif %}>{{ size }}</option>
            {% endfor %}
          </select>
        </div>

        <div id="representative-comments-wrap" class="standard-padded-container">

          {% with title="Popularity-Based Selection", rule_select_id="rule-select-popularity", default_rule=default_rule_popularity, comment_list_id="comment-list-popularity" %}
            {% include "includes/representative_comments_block.html" %}
          {% endwith %}

          {% with title="Representation-Based Selection", rule_select_id="rule-select-representation", default_rule=default_rule_representation, comment_list_id="comment-list-representation" %}
            {% include "includes/representative_comments_block.html" %}
          {% endwith %}

          {% with title="Diversity-Based Selection", rule_select_id="rule-select-diversity", default_rule=default_rule_diversity, comment_list_id="comment-list-diversity" %}
            {% include "includes/representative_comments_block.html" %}
          {% endwith %}

        </div>
      </section>
    {% endif %}

    <section id="article-all-comments-section" class="article-comments-wrap">
      <h2 class="next-collapsible">See All {{ article.num_comments }} Comments</h2>

      <div class="article-comments-list collapsed-content hidden">
        {% for c in article.comments %}
          {% include "includes/article_comment.html" %}
        {% endfor %}
      </div>
    </section>
  </div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const nextCollapsibles = document.querySelectorAll(".next-collapsible");

    nextCollapsibles.forEach(function (e) {
        e.addEventListener("click", function () {
            this.nextElementSibling.classList.toggle("hidden");
            this.scrollIntoView({ behavior: "smooth" });
        });
    });

    const repCommentsData = {{ article.representative_comments | tojson }};

    const ruleSelects = document.querySelectorAll('.rule-select');
    const sizeSelect = document.getElementById('size-select');
    const maximumSatisfactionCounts = document.querySelectorAll('.maximum-satisfaction-count');

    function updateRepresentativeCommentsBlock(ruleSelect) {
        const rule = ruleSelect.value;
        const size = sizeSelect.value;

        // Use optional chaining and fallback to empty array
        const commentIds = repCommentsData?.[rule]?.[size] || [];

        // Fetch the div for the comments
        let repCommentBlock = ruleSelect.closest('.representative-comments-block');
        let repCommentList = repCommentBlock.querySelector('.representative-comments-list');

        // Clear current list
        repCommentList.innerHTML = '';

        commentIds.forEach(cid => {
          const original = document.querySelector(`.article-comment[data-comment-id="${cid}"]`);
          if (original) {
            const clone = original.cloneNode(true);
            repCommentList.appendChild(clone);
          }
        });

        // Update the satisfaction count
        updateSatisfactionProgressBar(repCommentBlock);
    }

    function computeTotalCommentsSatisfaction (commentList) {
      const comments = commentList.querySelectorAll('.article-comment');
      let totalSatisfaction = 0;
      comments.forEach(function (comment) {
        totalSatisfaction += Number(comment.dataset.agrees);
      })
      return totalSatisfaction;
    }

    function computeTotalSatisfactionIds (commentIdsList) {
      let totalSatisfaction = 0;
      for (let i = 0; i < commentIdsList.length; i++) {
        const commentId = commentIdsList[i];
        const comment = document.querySelector(`.article-comment[data-comment-id="${commentId}"]`);
        totalSatisfaction += Number(comment.dataset.agrees);
      }
      return totalSatisfaction;
    }

    const maxSatisfactionCache = {};

    function maxSatisfaction() {
      let num_comments = sizeSelect.value;

      // Check if already cached
      if (maxSatisfactionCache[num_comments] !== undefined) {
        return maxSatisfactionCache[num_comments];
      }

      // Compute and store in cache
      let commentIds = repCommentsData?.["av"]?.[num_comments];
      let satisfaction = computeTotalSatisfactionIds(commentIds);

      maxSatisfactionCache[num_comments] = satisfaction;
      return satisfaction;
    }

    function updateSatisfactionProgressBar(repCommentBlock) {
      const repCommentList = repCommentBlock.querySelector('.representative-comments-list');
      const currentSat = computeTotalCommentsSatisfaction(repCommentList);
      const maxSat = maxSatisfaction();

      const bar = repCommentBlock.querySelector('.satisfaction-bar-fill');

      if (bar && maxSat) {
        const percentage = Math.min((currentSat / maxSat) * 100, 100);
        bar.style.width = `${percentage}%`;

        repCommentBlock.querySelector('.satisfaction-bar-percentage').textContent = `(${Math.round(percentage)}%)`;
        repCommentBlock.querySelector('.current-satisfaction-count').textContent = `${currentSat}`;
      }
    }

    function updateAllRepresentativeComments() {
      ruleSelects.forEach(ruleSelect => {
        updateRepresentativeCommentsBlock(ruleSelect);
      });
    }

    if (sizeSelect) {
      sizeSelect.addEventListener('change', function () {
        updateAllRepresentativeComments();
      });

      ruleSelects.forEach(ruleSelect => {
        ruleSelect.addEventListener('change', function () {
          updateRepresentativeCommentsBlock(ruleSelect);
        });
      });

      updateAllRepresentativeComments();
    }

    const showAdvancedControlsButton = document.getElementById('show-advanced-controls');
    let advancedControls = true;
    const sizeSelectionWrap = document.getElementById('size-selection-wrap');
    const ruleSelectionWraps = document.querySelectorAll('.rule-selection-wrap');
    const selectPopularity = document.getElementById('rule-select-popularity');
    const selectRepresentation = document.getElementById('rule-select-representation');
    const selectDiversity = document.getElementById('rule-select-diversity');

    function toggleAdvancedControlsVisibility() {
      if (advancedControls) {
        advancedControls = false;
        showAdvancedControlsButton.textContent = 'Show Advanced Controls';
        ruleSelectionWraps.forEach(ruleWrap => ruleWrap.classList.add('hidden'));
        sizeSelectionWrap.classList.add('hidden');
        selectPopularity.value = '{{ default_popularity_rule }}';
        selectRepresentation.value = '{{ default_representation_rule }}';
        selectDiversity.value = '{{ default_diversity_rule }}';
        updateAllRepresentativeComments();
      } else {
        advancedControls = true;
        showAdvancedControlsButton.textContent = 'Hide Advanced Controls';
        ruleSelectionWraps.forEach(ruleWrap => ruleWrap.classList.remove('hidden'));
        sizeSelectionWrap.classList.remove('hidden');
      }
    }

    showAdvancedControlsButton.addEventListener('click', toggleAdvancedControlsVisibility);
    toggleAdvancedControlsVisibility();
});
</script>

{% endblock %}
