{% extends "base.html" %}

{% block title %}Proportionality Press{% endblock %}

{% block content %}
<h1>Showcasing the Fair Selection of Comments</h1>

<section>
  <p>
    What if there was a <strong class="highlight">better way to summarize the comment section</strong> of a news article than simply showing the most
    liked or the newest comments? That's the question behind the Proportionality Press. This website
    explores practical methods for selecting representative comments that go <strong class="highlight">beyond just sorting by date or number of likes</strong>.
    Our goal fostering a <strong class="highlight">rich and balanced conversation</strong> under your next Reddit post.
  </p>

  <p>
    We present here different articles for which users could submit comment and react (via a thumb-up button) to other
    comments.
    For each article, you can explore <strong class="highlight">several comment selections</strong> and explore what is the <strong class="highlight">impact of the different approaches</strong>.
  </p>

  <p>
    Ready to dive in? Check out one of our featured articles or browse the full list from the menu above.
  </p>

  <ul>
    {% for article in highlighted_articles %}
      <li><a href="{{ article.link }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
</section>
{% endblock %}